In [3]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("arshkon/linkedin-job-postings")

print("Path to dataset files:", path)

/Users/bose/opt/anaconda3/envs/MATH257/lib/python3.10/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

Path to dataset files: /Users/bose/.cache/kagglehub/datasets/arshkon/linkedin-job-postings/versions/13

In [2]:
import pandas as pd

df = pd.read_csv(path + "/postings.csv")

In [3]:
print(df.columns)

num_rows = posting.shape[0]
print("Number of rows in posting:", num_rows)

Index(['job_id', 'company_name', 'title', 'description', 'max_salary',
       'pay_period', 'location', 'company_id', 'views', 'med_salary',
       'min_salary', 'formatted_work_type', 'applies', 'original_listed_time',
       'remote_allowed', 'job_posting_url', 'application_url',
       'application_type', 'expiry', 'closed_time',
       'formatted_experience_level', 'skills_desc', 'listed_time',
       'posting_domain', 'sponsored', 'work_type', 'currency',
       'compensation_type', 'normalized_salary', 'zip_code', 'fips'],
      dtype='object')

In [4]:
posting = df[['job_id', 'title', 'description', 'normalized_salary', 'sponsored', 'remote_allowed', 'location', 'original_listed_time', 'formatted_experience_level', 'company_id']].copy()

# Rename columns to match the new schema
posting.columns = ['posting_id', 'job_name', 'job_description', 'med_salary', 'sponsor', 'remote_allowed', 'location', 'post_date', 'ng_or_internship', 'company_id']

# Convert post_date to datetime
posting['post_date'] = pd.to_datetime(posting['post_date'], unit='ms')

print(posting.head())

   posting_id                                           job_name  \
0      921716                              Marketing Coordinator
1     1829192                  Mental Health Therapist/Counselor
2    10998357                        Assitant Restaurant Manager
3    23221523  Senior Elder Law / Trusts and Estates Associat...
4    35982263                                 Service Technician

                                     job_description  med_salary  sponsor  \
0  Job descriptionA leading real estate firm in N...     38480.0        0
1  At Aspen Therapy and Wellness , we are committ...     83200.0        0
2  The National Exemplar is accepting application...     55000.0        0
3  Senior Associate Attorney - Elder Law / Trusts...    157500.0        0
4  Looking for HVAC service tech with experience ...     70000.0        0

   remote_allowed           location           post_date ng_or_internship  \
0             NaN      Princeton, NJ 2024-04-17 23:45:08              NaN
1             NaN   Fort Collins, CO 2024-04-11 17:51:27              NaN
2             NaN     Cincinnati, OH 2024-04-16 14:26:54              NaN
3             NaN  New Hyde Park, NY 2024-04-12 04:23:32              NaN
4             NaN     Burlington, IA 2024-04-18 14:52:23              NaN

   company_id
0   2774458.0
1         NaN
2  64896719.0
3    766262.0
4         NaN

In [11]:
posting.to_csv('posting_output.csv', index=False, encoding='utf-8')

In [4]:
import pandas as pd

# Load the CSV
df = pd.read_csv(path + "/postings.csv", encoding='utf-8', on_bad_lines='skip') 

# Remove non-ASCII characters from all object (text) columns
for column in df.select_dtypes(include=['object']).columns:
    df[column] = df[column].str.encode('ascii', 'ignore').str.decode('ascii')
    df[column] = df[column].str.replace('\n', ' ').str.replace('\r', ' ')

# Continue with processing and saving
posting = df[['job_id', 'title', 'description', 'normalized_salary', 'sponsored', 'remote_allowed', 'location', 'original_listed_time', 'formatted_experience_level', 'company_id']].copy()
posting.columns = ['posting_id', 'job_name', 'job_description', 'med_salary', 'sponsor', 'remote_allowed', 'location', 'post_date', 'ng_or_internship', 'company_id']

# Convert post_date to datetime
posting['post_date'] = pd.to_datetime(posting['post_date'], unit='ms', errors='coerce')

# Save as a cleaned UTF-8 CSV
# posting.to_csv('posting_output.csv', index=False, encoding='utf-8')

In [11]:
posting.to_csv('posting.csv', index=False, encoding='utf-8', sep=';', na_rep='NULL')